.pos .modal-dialog{
    height: 500px;
}

.pos .select-area {
    overflow-y: auto;
    height: 350px;
    background: transparent;
}

.pos .delete-operation {
    margin-left: 15px;
}

.pos .element{
    display:inline-block;
    margin: 0 15px;
    vertical-align:top;
}

/* Style for select menu */
.pos .styled-select {
    background: url(../img/arrow.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
    margin: 0 auto;
}

.pos .styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
}

.pos .styled-select.slate {
    background: url(../img/arrow_grey.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
}

.pos .styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}
